.signup-done
  %header.signup-doneHeader
    %h1
      = link_to root_path do
        = image_tag 'logo.png'
    %nav.signup-doneHeader__progress-bar
      %ol.clearfix
        %li.signup-doneHeader__progress-bar__through
          会員情報
          .signup-doneHeader__progress-bar__through--point
        %li.signup-doneHeader__progress-bar__through
          電話番号認証
          .signup-doneHeader__progress-bar__active--point
        %li.signup-doneHeader__progress-bar__active
          完了
          .signup-doneHeader__progress-bar__active__status
  %main.done-main
    %section.done-main__container
      %h2.done-main__container.registration 会員登録完了
      .done-main__container__inner
        .done-main__container__inner__content
          .done-main__container__inner__content__form-group
            %label.done-main__container__inner__content__form-group__label{for: "phone_number"} ありがとうございます。会員登録が完了しました。
          = link_to "フリマを始める", root_path, class: 'done-main__container__inner__content__btn-blue' 
=render "items/singlefooter"
