.signup
  %header.signup-header
    %h1
      = link_to root_path do
        = image_tag 'logo.png'
  .signup__main
    .signup__main__body
      %h2.signup__main__body__ttl 新規会員登録
      .signup__main__body__ttl__inner
        .signup__main__body__ttl__inner__content
          = link_to member_signup_index_path, { class: "signup__main__body__ttl__inner__content__btn-mail"} do
            = icon 'far', 'envelope'
            メールアドレスで登録する
          %button#facebook-login.signup__main__body__ttl__inner__content__btn-facebook
            %i.fab.fa-facebook-square
            Facebookで登録する
          %button#google-login.signup__main__body__ttl__inner__content__btn-google
            Googleで登録する
=render "items/singlefooter"



