.main
  .mainSection
    .mainSection__content
      %h2.mainSection__content__subttl
        %br/
        人生を変えるフリマアプリ
      %p.mainSection__content__txt
        FURIMAはだれでもかんたんに出品・購入できる
        %br/
        フリマアプリです
      .mainSection__content__btn
        %a.mainSection__content__btn__appBtn{href: "#"}
          %img{height: "53.33", src: "/assets/app.svg", width: "180"}/
        %a.mainSection__content__btn__googleBtn{href: "#"}
          %img{height: "53.33", src: "/assets/goo.svg", width: "180"}/
  .reason
    %h2.reason__subttl
      FURIMAが選ばれる3つの理由
    %ul.reason__lists
      %li.reason__lists__list
        .reason__lists__list__photo
          %span.reason__lists__list__photo__num 1
          %img{height: "306", src: "/assets/pict-reason-01-.jpg", width: "306"}/
        %h3.reason__lists__list__txt
          %span.reason__lists__list__txt__head 3分
          ですぐに出品
        %p.reason__lists__list__describe
          スマホで入力するだけで簡単に出品できる！
      %li.reason__lists__list
        .reason__lists__list__photo
          %span.reason__lists__list__photo__num 2
          %img{height: "306", src: "/assets/pict-reason-02-.jpg", width: "306"}/
        %h3.reason__lists__list__txt
          %span.reason__lists__list__txt__head シンプル
          で使いやすい
        %p.reason__lists__list__describe
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.reason__lists__listEnd
        .reason__lists__listEnd__photo
          %span.reason__lists__listEnd__photo__num 3
          %img{height: "306", src: "/assets/pict-reason-03-.jpg", width: "306"}/
        %h3.reason__lists__listEnd__txt
          手数料
          %span.reason__lists__listEnd__txt__head 業界最安
        %p.reason__lists__listEnd__discribe
          最大3%でお得に出品&購入！
  .middleSection
    .middleSection__inside
      %h2.middleSection__inside__subttl 会員数日本一位
      %p.middleSection__inside__txt
        FURIMAは、フリマアプリで最も人気。
        %br/
        出品・購入回数も業界最多です！
        %br/
        ほしかったあの商品に出会えるかもしれません。
      .middleSection__inside__btn
        %a.middleSection__inside__btn__appBtn{href: "#"}
          %img{height: "53.33", src: "/assets/app.svg", width: "180"}/
        %a.middleSection__inside__btn__googleBtn{href: "#"}
          %img{height: "53.33", src: "/assets/goo.svg", width: "180"}/
  .characteristic
    %h2.characteristic__subttl FURIMAの特徴
    .characteristic__lists
      .characteristic__lists__list
        .characteristic__lists__list__img
          %img{height: "337.61", src: "/assets/characteristic-img1.png", width: "219.33"}/
        %h3.characteristic__lists__list__ttl 簡単に売り買いできる
        %p.characteristic__lists__list__describe
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .characteristic__lists__list
        .characteristic__lists__list__img
          %img{height: "337.61", src: "/assets/characteristic-img2.png", width: "219.33"}/
        %h3.characteristic__lists__list__ttl 売上金は即日振込みに対応
        %p.characteristic__lists__list__describe
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      .characteristic__lists__list
        .characteristic__lists__list__img
          %img{height: "337.61", src: "/assets/characteristic-img3.png", width: "219.33"}/
        %h3.characteristic__lists__list__ttl 様々な支払いに対応
        %p.characteristic__lists__list__describe
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  .pickupCategory
    %h2.pickupCategory__ttl ピックアップカテゴリー
    .pickupCategory__box
      .pickupCategory__box__head
        %a.pickupCategory__box__head__color{href: "#"}
          %h3.pickupCategory__box__head__color__subttl 新規投稿商品
      .pickupCategory__box__items
        .pickupCategory__box__items__item
          %a.pickupCategory__box__items__item__link{href: "/products/3"}
            .pickupCategory__box__items__item__link__img
              %img.pickupCategory__box__items__item__link__img__up{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"}/
            .pickupCategory__box__items__item__link__body
              %h3.pickupCategory__box__items__item__link__body__name product3
              .pickupCategory__box__items__item__link__body__name__show
                %ul.pickupCategory__box__items__item__link__body__name__show__list
                  %li.pickupCategory__box__items__item__link__body__name__show__list__price 30000円
                  %li
                    %i.fa.fa-star.likeIcon
                    0
                %p.pickupCategory__box__items__item__link__body__name__show__tax (税込)
        .pickupCategory__box__items__item
          %a.pickupCategory__box__items__item__link{href: "/products/2"}
            .pickupCategory__box__items__item__link__img
              %img.pickupCategory__box__items__item__link__img__up{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png"}/
            .pickupCategory__box__items__item__link__body
              %h3.pickupCategory__box__items__item__link__body__name product2
              .pickupCategory__box__items__item__link__body__name__show
                %ul.pickupCategory__box__items__item__link__body__name__show__list
                  %li.pickupCategory__box__items__item__link__body__name__show__list__price 20000円
                  %li
                    %i.fa.fa-star.likeIcon
                    0
                %p.pickupCategory__box__items__item__link__body__name__show__tax (税込)
        .pickupCategory__box__items__item
          %a.pickupCategory__box__items__item__link{href: "/products/1"}
            .pickupCategory__box__items__item__link__img
              %img.pickupCategory__box__items__item__link__img__up{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png"}/
            .pickupCategory__box__items__item__link__body
              %h3.pickupCategory__box__items__item__link__body__name product1
              .pickupCategory__box__items__item__link__body__name__show
                %ul.pickupCategory__box__items__item__link__body__name__show__list
                  %li.pickupCategory__box__items__item__link__body__name__show__list__price 10000円
                  %li
                    %i.fa.fa-star.likeIcon
                    0
                %p.pickupCategory__box__items__item__link__body__name__show__tax (税込)
    .pickupCategory
    %h2.pickupCategory__ttl ピックアップブランド
    .pickupCategory__box
      .pickupCategory__box__head
        %a.pickupCategory__box__head__color{href: "#"}
          %h3.pickupCategory__box__head__color__subttl アーカイバ
      .pickupCategory__box__items
        .pickupCategory__box__items__item
          %a.pickupCategory__box__items__item__link{href: "/products/3"}
            .pickupCategory__box__items__item__link__img
              %img.pickupCategory__box__items__item__link__img__up{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"}/
            .pickupCategory__box__items__item__link__body
              %h3.pickupCategory__box__items__item__link__body__name product3
              .pickupCategory__box__items__item__link__body__name__show
                %ul.pickupCategory__box__items__item__link__body__name__show__list
                  %li.pickupCategory__box__items__item__link__body__name__show__list__price 30000円
                  %li
                    %i.fa.fa-star.likeIcon
                    0
                %p.pickupCategory__box__items__item__link__body__name__show__tax (税込)
        .pickupCategory__box__items__item
          %a.pickupCategory__box__items__item__link{href: "/products/2"}
            .pickupCategory__box__items__item__link__img
              %img.pickupCategory__box__items__item__link__img__up{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png"}/
            .pickupCategory__box__items__item__link__body
              %h3.pickupCategory__box__items__item__link__body__name product2
              .pickupCategory__box__items__item__link__body__name__show
                %ul.pickupCategory__box__items__item__link__body__name__show__list
                  %li.pickupCategory__box__items__item__link__body__name__show__list__price 20000円
                  %li
                    %i.fa.fa-star.likeIcon
                    0
                %p.pickupCategory__box__items__item__link__body__name__show__tax (税込)
        .pickupCategory__box__items__item
          %a.pickupCategory__box__items__item__link{href: "/products/1"}
            .pickupCategory__box__items__item__link__img
              %img.pickupCategory__box__items__item__link__img__up{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png"}/
            .pickupCategory__box__items__item__link__body
              %h3.pickupCategory__box__items__item__link__body__name product1
              .pickupCategory__box__items__item__link__body__name__show
                %ul.pickupCategory__box__items__item__link__body__name__show__list
                  %li.pickupCategory__box__items__item__link__body__name__show__list__price 10000円
                  %li
                    %i.fa.fa-star.likeIcon
                    0
                %p.pickupCategory__box__items__item__link__body__name__show__tax (税込)
  = render partial:  "cameraBtn"
  = link_to "新規会員登録", index_signup_index_path, class: 'post'
