= render "pays/pays-header"

.main
  %section.main-section
    %h2.main-section__verification 購入が完了しました
    %section.main-section__parchase
      .main-section__parchase__box
        .main-section__parchase__box__in
          %h3.main-section__parchase__box__in__image
            = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png",size: "80x100"
          .main-section__parchase__detail
            %p.main-section__parchase__detail__name 
              商品入るよ
            %p.main-section__parchase__detail__price
              %span ¥200
              %span.main-section__parchase__detail__tax (税込)送料なし
            = form_tag(root_path, method: :get) do
              %section.buy-content__btn
                %button.buy-content__btn__buy トップへ