%i.far.fa-heart お気に入り#{@item.favorite.count}
- if current_user.already_favorited?(@item)
  = link_to('お気に入りを取り消す',item_favorite_path(@item),method: :delete,remote: true,class:"nolike-btn")
- else
  = link_to('お気に入り', item_favorites_path(@item),method: :post,remote: true,class:"like-btn")
%i.fa.fa-flag 不適切な商品の通報
