%footer.single-footer
  .single-footer__main
    %a.single-fototer__private{:href => "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
    %a.single-fototer__terms{:href => "https://www.mercari.com/jp/tos/"} メルカリ利用規約
    %a.single-fototer__transaction{:href => "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
    %a.single-footer__logo{:href => "https://www.mercari.com/jp/"}
      %img.single-footer__logo{:alt => "mercari", :height => "65", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?35314277", :width => "80"}/
    %p.single-footer__small
      %small.single-footer__small--character © Furima, Inc.