%%footer.single-footer
  .single-footer__main
    .clearfix
      = link_to "プライバシーポリシー", "#", class: "single-footer__private"
      = link_to "フリマ利用規約", "#", class: "single-footer__terms"
      = link_to "特定商取引に関する表記", "#", class: "single-footer__transaction"
      = link_to image_tag(src= "logo-gray.png", class: "single-footer__logo", size: "50x50"), '#'
      %p.single-footer__small
        %small.single-footer__small--character © Furima, Inc.