.breadcrumbs{
  position: relative;
  border-top:1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;
  z-index: -1;
  &__list{
    width: 1045px;
    margin: 0 auto;
    padding: 8px 0;
    white-space: normal;
    overflow: visible;
    font-size: 14px;
    padding: 17px 0 16px;
  }
}


