*{
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.header{
  display: block;
  height: 100px;
  padding: 0 60px;
  &__inner{
    width: 100%;
    max-width: 1040px;
    min-height: 82px;
    margin: 0px auto;
    padding: 15px 0px 0px;
    &__main{
      position: relative;
      display: flex;
      align-items: center;
      background-color: white;
      height: 50px;
      .icon{
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 49px;
      }
      .searchbox{
        width: 100%;
        margin-left: auto;
        form{
          width: 100%;
          display: flex;
          margin-bottom: 5px;
          height: 36px;
        }
          input{
            width: calc(100% - 36px);
            height: 36px;
            padding: 0 0 0 5px;
            font-size: 16px;
            border-style: solid;
            border-color: gray;
            border-width: 1px;
          }
        button{
          cursor: pointer;
          background-color: #3ccace;
          padding: 8px;
          border: 0;
        }
      }
    }
    &__nav{
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
      .list-left{
        position: relative;
        display: flex;
        &__item-first{
          line-height: 38px;
          a{
            padding-right: 30px;
            color: #333;
            &:hover {
              color: #ffb340;
            }
          }
        }
        &__item-second{
          line-height: 38px;
          a{
            padding-right: 30px;
            color: #333;
            &:hover {
              color: #ffb340;
            }
          }
        }
      }
      .list-right{
        margin-left: auto;
        line-height: 38px;
        &__item{
          a{
            color: #333;
          }
          .login-btn{
            padding-right: 16px;
          }
        }
      }
    }
  }
}