* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

body{
  background:#f5f5f5;;
  min-height:100%;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}

header{
  height:128px;
}

section{
  display:block;
}

h3{
  font-size:14px;
}

.maim__header__image{
  text-align: center;
  &__logo{
    margin:40px 0 0;
    width: 185px;
    height: 49px;
    line-height: 49px;
  }
}

@mixin border{
  border-top:1px solid #f5f5f5;
}

.main{
  display:block;
  .main-section{
    background:white;
    width:700px;
    margin:0 auto;
    @include border;
    &__verification{
      font-size:22px;
      text-align: center;
      padding:32px;
    }
    &__item{
      @include border;
      padding: 32px 16px;
      &__buy{
        margin: 0 auto;
        text-align: center;
        max-width:343px;
        &__box{
          display: flex;
        }
        &__image{
          display: flex;
          align-items: center;
          &__up{
            width:80px;
          }
        }
      }
      &__detail{
        margin-left:16px;
        &__name{
          font-size: 14px;
          margin: 0;
          padding: 0 0 8px;
          line-height: 1.5;
          text-align: left;
        }
        &__price{
          text-align: center;
          font-size:14px;
          font-weight: 600;
        }
        &__tax{
          font-size:12px;
        }
      }
    }
  }
}

.buy-section__price{
  @include border;
  padding-bottom: 48px;
  padding: 32px 0;
  &__content{
    max-width: 343px;
    margin:0 auto;
    &__form{
      display:block;
      &__list{
        width:100%;
        list-style: none;
        &__cell{
          font-weight: 600;
          display: flex;
        }
        &__label{
          text-align: left;
          font-size: 18px;
          padding-top:8px;
        }
        &__money{
          font-size:26px;
          padding-left:170px;
          text-align: right;
        }
      }
    }
  }
}

.buy-section__point{
  color: #888;
  margin:18px 0 28px;
  &__check{
    list-style: none;
    font-size:16px;
    &__box{
      &__label{
        font-size: 14px;
      }
    }
  }
}

.buy-content__pay__method{
  @include border;
  padding: 32px 0;
  &__box{
    margin:4px 0 0;
    font-size: 14px;
    &__register{
      display:flex;
      color: #0099e8;
      &__to{
        padding-left:3px;
      }
    }
  }
}

.buy-content__address{
  @include border;
  padding: 32px 0;
  &__box{
    margin:4px 0 0;
    font-size: 14px;
  }
  &__register{
    display:flex;
    color: #0099e8;
    &__to{
      padding-left:3px;
    }
  }
}

.buy-content__btn{
  @include border;
  padding-bottom:0;
  padding: 32px 0;
  &__buy{
    border: 1px solid #888;
    background: #888;
    color: #fff;
    width:100%;
    line-height: 48px;
  }
}

.fal{
  padding-top:3.4px;
}
